@media screen and (min-width: 768px) {
    /* Adjust styles for tablets and larger screens in landscape mode */
    #menuItems {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: none;
        place-items: end;
    }
}